@layer base {
  :root {
    --gradient-primary: linear-gradient(135deg, #FF8F71 0%, #EF2D1A 100%);
    --color-primary: #EF2D1A;
    --color-secondary: #FF8F71;
    --color-background: #000;
    --color-text: #fff;
  }

  body {
    @apply antialiased text-white bg-black min-h-screen;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
    scroll-behavior: smooth;
  }

  ::selection {
    @apply bg-white/20;
  }
}