.home-container {
    max-width: 100%px;
    margin: 40px auto;
    padding: 20px;
    background-color: #000000;
  }
  
  .home-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .home-header h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .home-header p {
    font-size: 18px;
    color: #666;
  }
 

  .get-started-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .get-started-btn:hover {
    background-color: #3e8e41;
  }
  
  .feature {
    margin-bottom: 20px;
  }
  
  .feature h6 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 16px;
    color: #666;
  }
  
  @media (max-width: 768px) {
    .home-container {
      padding: 10px;
    }
  
    .home-header h1 {
      font-size: 24px;
    }
  
    .feature {
      margin-bottom: 10px;
    }
  }
  
  .home-call-to-action {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .sign-up-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sign-up-btn:hover {
    background-color: #3e8e41;
  }


  .io{
    color: white;
    background-color: #000000;
    font-size: medium;
    padding: 20px 0px;
    margin: 0%;
    
  }