/* Navbar Brand Styling */
.navbar-brand {
  font-weight: bold;
  color: #007bff;
  font-size: 1.5rem;
}

.navbar-brand:hover {
  color: #0056b3;
}

/* Navbar Link Styling */
.nav-link {
  color: #333;
  transition: color 0.2s ease;
  margin-left: 20px;
}

.nav-link:hover {
  color: #007bff;
}

.nav-link.active {
  color: #007bff;
}

/* For smaller screens, ensure proper padding */
@media (max-width: 400px) {
  .navbar {
    padding: 0.5rem 1rem;
  }
  .er {
    padding: 0px 0px;
  }
  .nav-link {
    margin-left: 10px;
  }
}